<mat-sidenav-container>
  <mat-sidenav-content class="sidenav-content">
    <div class="example-container">
      <form class="example-container" [formGroup]="options" (ngSubmit)="submit()">
        <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
        <div>
          <label>Float label: </label>
          <mat-radio-group formControlName="floatLabel">
            <mat-radio-button value="auto">Auto</mat-radio-button>
            <mat-radio-button value="always">Always</mat-radio-button>
            <mat-radio-button value="never">Never</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field
          [hideRequiredMarker]="options.value.hideRequired"
          [floatLabel]="options.value.floatLabel">
          <input matInput placeholder="Simple placeholder" formControlName="placeholder" required>
        </mat-form-field>

        <mat-form-field
          [hideRequiredMarker]="options.value.hideRequired"
          [floatLabel]="options.value.floatLabel">
          <mat-select required
                      formControlName="select">
            <mat-option value="option">Option</mat-option>
            <mat-option value="option2">Option 2</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" class="submit-btn" type="submit">OK</button>
      </form>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
