@import '../node_modules/@angular/material/theming';

@import '~normalize.css/normalize.css';
@import 'app-theme';
@import './app/shared/components/navbar/navbar-theme';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include app-theme($theme);
